@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --primary : #026467;
  --secondary-color : #E5F5EA
  --body-text-color: #596392;
  --navbar-footer-color:#F9F9F9;


}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: rgb(68, 6, 73);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
